<table class="table">
  <thead>
    <tr>
      <td>Day</td>
      <td>Distance</td>
    </tr>
  </thead>
  <tbody>
    <% activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.created_at.strftime("%e. %B"), activity_path(activity) %></td>
        <td><%= link_to activity.round_distance, activity_path(activity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Show by month", root_path(month: true) %>

