<div class="row top-buffer">
  <span>Your distance is: <%= @distance %></span>
  <% if params[:month] %>
    <%= render 'monthly_activities', activities: @activities %>
  <% else %>
    <%= render 'weekly_activities', activities: @activities %>
  <% end %>

</div>
