<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>
          <span class="label label-default">
            You started from:
            <%= @activity.start %>
          </span>
          <span>
            And finished on:
            <%= @activity.destination %>
          </span>
          <span>
            The distance is
            @activity.distance
          </span>
        <p>
      </div>
    </div>
  </div>
</div>
